/* 
---------------------
    Google Fonts  
---------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    padding: 0 13px;
}

/* 
--------------------
    List Styles 
--------------------
*/
ul > li {
    list-style: none;
}